@charset "UTF-8";
/* CSS Document */

/* CSS style for portfolio site 2013, go nuts */

@import url(http://fonts.googleapis.com/css?family=Aldrich);

body {
	
	
	background: url(../images/background_1_v2.jpg);
	color: #333;
	
	font-family: 'Aldrich', helvetica, sans-serif;
	
	box-shadow: #000 0px 0px 100px 15px inset; !important
		
	
}

#container {
	
	margin-top: 45px;
	
	margin-left: auto;
	margin-right: auto;
	
	width:1000px;
	
	height: 700px; /* get rid of this after declaring a height */ 
	
	border: #CCC 3px solid;
	
	box-shadow: 0px 0px 80px 1px #000;
	
}


#main_logo {
	
	
	float:left;
	
	margin-left: 30px;
	
	
	width: 200px;
	height: 85px;
	
	background: url(../images/main_logo.png) no-repeat;	
	
}


#nav_bar {
	
	font-size: 14px;
	

	width: 1000px;
	height: 80px;
	background: #ededed;
	
	/*box-shadow: 0px -30px 100px 5px inset;*/
		
	
}

a  {
	
	color: #333;
	
}

#main_col {

	position: relative;
	
	
	
	bottom: 400px;
	
	width:1100px;	
	
}

.img_indent {
	
	display:display;
	
	
	
	margin-left: 215px;
	margin-right: auto;
	
		
	border: #cfcfcf 3px solid;
	
}




#home {
	
	float: left;
	
	width: 130px;
	height: 80px;

	
}

#home:hover {
	
	
	background: #999;
	
	/*box-shadow: 0px 5px 1px 2px inset;*/
	
}

#bar {
	
	
	text-align: center;
	
	margin-left: 260px;
	
	
	line-height: 85px;
	
	
}

.active {
	

	background: #bbb;
	
}

#footer {
	
	font-size: 12px;
	
	margin-top: 10px;
	
	text-align: center;
	
	color: #999;	
	
}

#cmail {

	color:#999;
	
}

#cmail:hover {
	
	color:#eee;	
	
}



#welcome {
	
	margin-top: 100px;
	
	color:#efefef;
	
	font-size: 24px;
	
	text-indent: 320px;	
	
}

#w_sentence {
	
	
	position: relative;
	
	top:150px;
	
	color:#efefef;
	
	font-size: 18px;
	
	text-indent: 320px;	
		
	
}


#a {
	
	margin-top: 300px;
	
	text-align: center;
	
	font-size: 18px;
	
	color: #CCC;	
	
	
}

#re {
	display:block;
	
	margin-left: auto;
	margin-right: auto;
	
	width: 38px;
	height: 38px;
	
	background: url(../images/redirect.gif) no-repeat;	
	
}